@font-face { 
    font-family: Arcade; 
    src: url("assets/8Bit.ttf") format("truetype"); 
}

body { 
    -webkit-font-smoothing: none;
    text-align: center; 
    background-color: white; 
    font-family: Open Sans; 
    font-size: 16px; 
    overflow: hidden;
}

canvas { 
    border-radius: 0.5em; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

p { 
    width: 550;
    margin: 1em auto; 
}

p:first-of-type {
    margin-top: 4em;
}

a { 
    text-decoration: none; 
    font-weight: bold; 
    color: inherit; 	
}

table {
    table-layout: fixed;
    width: 33%;
    transition: opacity 0.5s ease-in-out;
    float: left;
    margin-bottom: 1em;
}

table td {
	line-height: 16px;
}

table td:first-of-type {
    text-align: right;
    width: 80%;
}

table td:last-of-type {
    width: 20%;
}

.right {
	text-align: right;
}


#description { 
    transition: transform 0.5s ease-out;
    position: absolute; 
    top: 100%; 
    width: 100%; 
    background-color: white; 
    height: 100%;
}

#button {
    transition: all 0.5s ease-in-out;
    font-size: 30px;
    width: 50px;
    height: 50px;
    vertical-align: text-bottom;
    position: absolute;
    bottom: 10px;
    right: 0;
    cursor: pointer;
}
